/* nav{
    position: relative;
    left: 0;
} */

nav ul{
    padding: 20px;
    margin-right: auto;
    width: 360px;
}

.logo{
    position:relative;
    left: 2%;
    top: 20%;
    height: 70px;
    width: 50px;
}

nav a{
    line-height: 50px;
    height: 50px;
    cursor: pointer;
}

nav li a{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav li:last-child a{
    border-right: 0;
}

nav a#pull{
    display: none;
}

ul{
    /*list-style-type: none;*/
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-align: center;
}
li{
    /*position: relative;*/
    margin-left: 20px;
    display: inline-block;
}
li a{
    color: #FFFFFF;
    text-align: center;
    padding: 14.5px 16px;
    text-decoration: none;
}
li a:hover{
    /*color: #597812;*/
    color: #007bff;
    font-weight:normal;
    transition: all 0.3s ease;
}
.menu {
    width: 100%;
    height: 50px;
    text-align: center;
    /* max-width: 100%; */
    background-position: center;
    background-size: cover;
    background-color: transparent;
    color: white;
    position: absolute;
    left: 0;
    z-index: 10;
    display: flex;
    font-size: 14pt;
    /* font-family: 'PT Sans', Arial, Sans-serif; */
}

.auth-box{
    position: relative;
    right: 2%;
    display: inline-block;
    width: fit-content;
    margin-left: auto;
    position: relative;
    padding: 10px;
    text-align: center;
}

#login-button, #user-info-button{
    border: none;
    background-color: transparent;
    line-height: 70px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    
}

#login-button:hover, #user-info-button:hover{
    color: #007bff;
    transition: all 0.3s ease;
}

#login-button svg, #user-info-button svg{
    position: relative;
    margin-right: 5px;
    top: 0px;
}

.user-name i{
    position: relative;
    font-size: 25px;
    top: 3px;
    line-height: 10px;
    margin-right: 5px;
}

.user-name{
    line-height: 85px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.logout-button{
    border: none;
    background-color: transparent;
    line-height: 60px;
    font-size: 18px;
    color: white;
}

.logout-button:hover{
    cursor: pointer;
    color: #FFD400;
}

.bi-box-arrow-right{
    font-size: 25px;
    line-height: 10px;
    position: relative;
    top: 3px;
}

.logout-button:hover{
    cursor: pointer;
    color: #007bff;
    transition: all 0.3s ease;
}
